.Header {
  padding: 30px;

  border-bottom: 2px solid #eee;
}

.Header nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Header nav a {
  align-items: center;
  display: flex;

  color: #333;
  text-decoration: none;
}

.Header nav * + * {
  margin-left: 15px;
}
